.bg-dgray{
 background:  #222;
}
#index{
  margin: 10% 0 0 15% ;
  background: rgba(0, 0, 0,0.2);
  width: 70%
}
.fa-bookmark{
  background-color: #d90e23;
background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 5px, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 5px, transparent 50%);
background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,.25) 25%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.25) 70%, transparent 50%),-webkit-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fa-bookmark-o{
  background-color: #d90e23;
background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 5px, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 5px, transparent 50%);
background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,.25) 25%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.25) 70%, transparent 50%),-webkit-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.graword{
  font-size: 40px;
  background-color: #d90e23;
background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 5px, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 5px, transparent 50%);
background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,0.2) 50%, transparent 10%),-webkit-linear-gradient(45deg, rgba(256,256,256,0.1) 20%, transparent 0%),-webkit-linear-gradient(30deg, rgba(0,0,0,0.3) 70%, transparent 10%),-webkit-linear-gradient(60deg,rgba(0,0,0,.25) 10%, transparent 10%);
background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
a.text{

  color:#262626;
  font-size: 16px;

}
a.see_also{
  font-size: 20px;
  padding: 10px;
  padding-bottom: 50px;
}
.linktofav:hover .fa-bookmark-o:before {
    content: "\f02e";
}
.tab-content{
  background: #fff;
}
.nav-link{
  width:100%;
  color:#333;
  padding-left: 10%;
  background-color: rgba(0,0,0,0.2);
}
.nav-tabs .nav-item .nav-link.active {
  background-color: #d90e23 ;
  background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 5px, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 5px, transparent 50%);
  background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,.25) 25%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.2) 45%, transparent 10%),-webkit-linear-gradient(90deg, rgba(0,0,0,.2) 35%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.25) 90%, transparent 60%),-webkit-linear-gradient(rgba(0,0,0,.25) 20%, transparent 10%);
  background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
  border-width: 0px;
  color: #cc5959;

}
.nav-link:focus{
  width: 100%;
  color:#cc5959;
  background-color: #d90e23 !important;
  background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 5px, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 5px, transparent 50%);
  background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,.25) 25%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.2) 45%, transparent 10%),-webkit-linear-gradient(90deg, rgba(0,0,0,.2) 35%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.25) 90%, transparent 60%),-webkit-linear-gradient(rgba(0,0,0,.25) 20%, transparent 10%);
  background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);

}
.nav-link:hover{
  width: 100%;
  color:#cc5959;
  background-color: #d90e23;
  background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 5px, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 5px, transparent 50%);
  background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,.25) 25%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.2) 45%, transparent 10%),-webkit-linear-gradient(90deg, rgba(0,0,0,.2) 35%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.25) 90%, transparent 60%),-webkit-linear-gradient(rgba(0,0,0,.25) 20%, transparent 10%);
  background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);

}
#search{
  font-family: 'Roboto', Monospace;
  border-radius: 40px;
  padding: 5px 25px 5px 25px;
  border-width: 0px;
  color:#e57373;
  font-size:35px;
  font-weight:500;
  background-color: #d90e23;
background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 5px, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 5px, transparent 50%);
background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,.25) 25%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.25) 70%, transparent 50%),-webkit-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
}
#search:hover{

}
#back_search{
  margin-top: 3%;
  margin-left: 40%;
  border-width: 1px;
  float:left;
  display: block;
border-radius: 40px;
background-color: #d90e23;
background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 5px, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 5px, transparent 50%);
background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,.25) 25%, transparent 10%),-webkit-linear-gradient(0deg, rgba(0,0,0,.25) 70%, transparent 50%),-webkit-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
border-radius: 40px;
box-sizing: border-box;
	z-index: 1;
}
#id_keyword{
  width: 60%;
  height: 60px;
  margin-left: 20%;
  border-color: #f7d4d4;
  border-radius: 30px;
  border-style:solid;
  border-width: 1px;
  background-color: #fffff9;
  padding-left: 10px;
  box-shadow: 0 -0.4px 1px 0 #f7d4d4, 0 0.4px 1px 0 #f7d4d4;
}
#id_keyword:focus{
    box-shadow: 0 -1px 5px 0 #f7d4d4, 0 1px 5px 0 #f7d4d4;
}

#test{
  float: left;
}
#conv{

  float: left;
}
#arrow{

  color: #dd7e7e;
  position: relative;
  bottom: 3px;
/* left:30px; */

}
.cvstar i{

position: relative;
left:98%;

/* padding-left: 3%; */
}
.cvstar a{
  position: relative;
  left:-30px;
}
.nwstar i{
 padding: 1%;
 padding-left: 0px;
}
.word {
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color:#e6e6e6;
    border-radius: 30px;
    height: 35px;
    width: 40%;
    margin-left: 2%;
    /* box-shadow: -0.5px 15px 2px rgba(0, 0, 0, 0.1); */
}
.word a{
  font-family: "Times New Roman";
  position: relative;
  bottom: 28px;
  left:15px;
  width:50px;
  border-radius: 30%;
  color: #666666;

  /* box-shadow: 3px 13px 20px rgba(115, 115, 115, 0.4); */
}
.s{
  padding-left: 36px;
}
.s a{
  font-size: 18px;

}
.word p{
  float:right;
  position: relative;
  font-size: 25px;
  bottom: 15px;
  right:20px;
  color: #666666;
}
